{% block content %}
<body class="dark-footer flx-home-page-4">
  {% include "header" %}
      <div id="main-content">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.html">
                                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                                {{ "revolution-bg-1.jpg" | asset_url | image_tag:'reciclare' }}

                                <!-- THE CAPTIONS IN THIS SLDIE -->
                                <div class="caption lft rev-entry-2" data-x="-70" data-y="30" data-speed="900" data-start="500" data-easing="easeOutBack">{{ "rev-entry-2.png" | asset_url | image_tag:'Prescontainer' }}</div>
                                <div class="caption lfb rev-entry-1" data-x="70" data-y="120" data-speed="900" data-start="500" data-easing="easeOutBack">{{ "rev-entry-1.png" | asset_url | image_tag:'Presa hidraulica' }}</div>
                                <div class="caption sft medium_white"  data-x="645" data-y="250" data-speed="300" data-start="1200" data-easing="easeOutExpo">Prese De Balotat</div>
                                <div class="caption lfb big_yellow"  data-x="645" data-y="285" data-speed="300" data-start="1300" data-easing="easeOutExpo">Verticale?</div>
                                <div class="caption lfb small_yellow"  data-x="645" data-y="330" data-speed="200" data-start="1500" data-easing="easeOutExpo">sau Automate?</div>
                                <div class="caption lfb small_white"  data-x="645" data-y="380" data-speed="300" data-start="1500" data-easing="easeOutExpo">Precum si orizontale sau de brichetat. Le avem pe toate!</div>
                    </li>

                    <!-- THE SECOND SLIDE -->
                    <li data-transition="boxfade" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="images/thumbs/thumb2.html">
                                {{ "revolution-bg-2.jpg" | asset_url | image_tag:'reciclare' }}
                                <div class="caption sfb rev-entry-3" data-x="730" data-y="130" data-speed="900" data-start="1000" data-easing="easeOutBack">{{ "rev-entry-3.png" | asset_url | image_tag:'Tocator reciclare' }}</div>
                                <div class="caption lft rev-entry-4" data-x="540" data-y="20" data-speed="900" data-start="1000" data-easing="easeOutBack">{{ "rev-entry-4.png" | asset_url | image_tag:'Presa hidraulica' }}</div>
                                <div class="caption lfl very_big_white"  data-x="0" data-y="216" data-speed="300" data-start="1200" data-easing="easeOutExpo">Materiale durabile.</div>
                                <div class="caption lfl very_big_white"  data-x="0" data-y="275" data-speed="300" data-start="1300" data-easing="easeOutExpo">Super Durabile.</div>
                                <div class="caption lfb big_white"  data-x="0" data-y="360" data-speed="300" data-start="1500" data-easing="easeOutExpo"><a href="contacts.html">Detalii</a></div>
                    </li>
                    
                    <!-- THE THIRD SLIDE -->
                    <li data-transition="turnoff" data-slotamount="15" data-masterspeed="300">
                                {{ "revolution-bg-3.jpg" | asset_url | image_tag:'reciclare' }}

                                <div class="caption sfb rev-entry-5" data-x="700" data-y="0" data-speed="700" data-start="500" data-easing="easeOutExpo">{{ "rev-entry-5.png" | asset_url | image_tag:'reciclare' }}</div>
                                <div data-easing="easeOutExpo" data-start="900" data-speed="600" data-x="0" data-y="100" class="caption lft tp-caption start rev-entry-6" data-easing="easeOutBack">{{ "rev-entry-6.png" | asset_url | image_tag:'Presa hidraulica' }}</div>
                                <div class="caption lfl stl bg-op"
                                     data-x="650"
                                     data-y="380"
                                     data-speed="300"
                                     data-start="500"
                                     data-easing="easeOutExpo" ><p class="big_yellow">MBT Romania</p><span class="medium_white">Reciclare usoara</span></div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>  
        <div class="flx-divider">
            <div class="wrapper flx-line">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="flx-intro">
                            <p>Bine ati venit la MBT Romania, liderul echipamentelor de reciclare in Romania.</p>
                        </div>
                    </div>
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </div><!--end:flx-divider-->
        <div class="flx-divider">
          <div class="wrapper flx-line">
                <div class="row-fluid">
                  <div class="span12">
                      <ul class="flx-service-4 clearfix">
                            <li class="clearfix">
                                <span ><i class="icon-time"></i></span>
                                <div class="entry-content">
                                    <h5 class="entry-title"><a href="#" >Support 24/7</a></h5>
                                    <p>Suntem disponibili pentru a va rezolva problemele echipamentelor oricand si oriunde in tara, 24 din 24, 7 zile pe saptamana.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <span ><i class="icon-ok-circle"></i></span>
                                <div class="entry-content">
                                    <h5 class="entry-title"><a href="#" >Preturi competitive</a></h5>
                                    <p>Cu peste 25 de ani de experienta in domeniul reciclarii am invatat cu adevarat ce inseamna o buna balanta intre calitate si cost.</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <span ><i class="icon-star-empty"></i></span>
                                <div class="entry-content">
                                    <h5 class="entry-title"><a href="#" >Utilaje calitative</a></h5>
                                    <p>Toate utilajele noastre sunt produse in Austria la cele mai inalte standarde si din cele mai bune materiale. Economii prin lipsa de downtime.</p>
                                </div>
                            </li>
                        </ul>
                    </div><!--end:span12-->
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </div><!--end:flx-divider-->
        <section class="widget flx-divider">
          <div class="wrapper">
                <div class="row-fluid">
                    <div class="span12">   
                        <div class="tag-line-box clearfix">
                            <div class="tag-line">
                                <h2>MBT Romania va ofera o gama larga de utilaje.</h2>
                                <p>Indiferent de tipul de utilaj necesar, noi putem oferii atat utilaje standard cat si personalizate!</p>
                            </div><!--end:tag-line-->
                            <a class="icon-button clearfix" href="contact"><i class="icon-envelope"></i>Contact</a>
                        </div><!--tag-line-box-->
                    </div><!--end:span12-->
                </div><!--row-fluid-->
            </div><!--end:wrapper-->
        </section><!--end:widget-->
        <section class="widget portfolio-widget flx-divider">
          <header class="flx-header flx-divider">
            <div class="wrapper flx-line"></div><!--end:wrapper-->
        </header>
        <div class="wrapper flx-line">
                <div class="row-fluid">
                      <div class="span12">
                          <h2 class="widget-title">Oferta</h2>
                        <div class="list-carousel responsive" >
                            <ul class="flx-slides-1">
                                <li style="width: 200px;">
                                    <div class="view view-first">
                                      {{ "pf-1.jpg" | asset_url | image_tag:'Prescontainer' }}
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-1">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href={{ "pf-1.jpg" | asset_url }} rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                              <li class="pf-footer">
                                                <h5>Prescontainer Absetz</h5>
                                                  <span>Prescontainer standard</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view view-first">
                                      {{ "pf-2.jpg" | asset_url | image_tag:'Prescontainer' }}
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-2">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href={{ "pf-2.jpg" | asset_url }} rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                              <li class="pf-footer">
                                                <h5>Prescontainer Abroll</h5>
                                                  <span>Prescontainer Jumbo</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 200px;">
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-3.jpg" alt="Presa hidraulica" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-3.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-3.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                              <li class="pf-footer">
                                                <h5>Prese stationare</h5>
                                                  <span>Presa stationara 1900XL</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-4.jpg" alt="Presa de balotat" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-4.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-4.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                  <span>Presa de putere mare PP1208</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 200px;">
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-5.jpg" alt="Presa de balotat" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-5.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-5.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                  <span>Presa de putere medie MK1100</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-6.jpg" alt="Presa multicamerala" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-6.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-6.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese multicamerale</h5>
                                                  <span>Presa putere mica multicamerala</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 200px;">
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-7.jpg" alt="" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-7.html">Detalii echipament</a></li>
                                               <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-7.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                  <span>Presa balotat orizontala HPH 50</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-8.jpg" alt="" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-8.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-8.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                  <span>Presa de balotat automata 400 H3</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 200px;">
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-9.jpg" alt="" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-9.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-9.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese de brichetat</h5>
                                                  <span>Presa de brichetat doze BP15</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-10.jpg" alt="" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-10.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-10.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Statii transfer</h5>
                                                  <span>Statie transfer deseuri 1900XXL</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 200px;">
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-11.jpg" alt="" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-11.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-11.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese de balotat</h5>
                                                  <span>Presa de balotat 615 H4A</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="view view-first">
                                      <img src="placeholders/portfolio-images/pf-12.jpg" alt="" />
                                        <div class="mask">
                                            <ul>
                                              <li class="pf-header"><a href="echipament-12.html">Detalii echipament</a></li>
                                                <li class="pf-lightbox"><a href="placeholders/portfolio-images/pf-12.jpg" rel="prettyPhoto[Gallery]">Mareste imagine</a></li>
                                                <li class="pf-footer">
                                                <h5>Prese stationare</h5>
                                                  <span>Presa stationara 1900 XL</span>
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul><!--end:flx-slides-1-->
                            <div class="clearfix"></div>
                            <div class="carousel-nav clearfix">
                                <a id="prev-1" class="carousel-prev" href="#">&lt;</a>
                                <a id="next-1" class="carousel-next" href="#">&gt;</a>
                            </div><!--end:carousel-nav-->
                            <a class="view-more" href="oferta.html"></a>
                        </div><!--end:list-carousel-->
                    </div><!--end:span12-->
                </div><!--row-fluid-->
            </div><!--end:wrapper-->
        </section><!--end:portfolio-widget-->
        <section class="widget logo-client-widget flx-divider">
          <div class="wrapper">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="logo-client clearfix">
                            <li><a href="http://www.mcdonalds.ro" target="_blank"><img alt="mcdonalds" src="img/logo-client/mcdonalds.jpg"></a></li>
                            <li><a href="http://www.ikea.ro" target="_blank"><img alt="ikea" src="img/logo-client/ikea.jpg"></a></li>
                            <li><a href="http://www.kaufland.ro" target="_blank"><img alt="kaufland" src="img/logo-client/kaufland.jpg"></a></li>
                            <li><a href="http://www.carrefour.ro" target="_blank"><img alt="carrefour" src="img/logo-client/carrefour.jpg"></a></li>
                            <li><a href="http://www.profi.ro" target="_blank"><img alt="profi" src="img/logo-client/profi.jpg"></a></li>
                        </ul><!--logo-client-->
                    </div><!--end:span12-->
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </section><!--end:widget-->
        <section class="widget bottom-tag-line">
          <div class="wrapper">
                <div class="row-fluid">
                    <div class="span12">  
                        <div class="tag-line-box clearfix">
                            <div class="tag-line">
                                <h2>MBT Romania - Liderul echipamentelor de reciclare in Romania</h2>
                                <p>Toate utilajele noastre sunt caracterizate de robustete, versatilitate si fiabilitate, trasaturi completate de tehnica moderna de comanda care este inglobata in acestea. Ajutam omenirea sa recicleze cu echipamente de reciclare avansate!</p>
                            </div><!--end:tag-line-->
                            <img src="images/icons/ok-icon.png" alt="Utilaje reciclare" />
                            <span class="white-arrow"></span>
                        </div><!--tag-line-box-->
                    </div><!--end:span12-->
                </div><!--row-fluid-->
            </div><!--end:wrapper-->
        </section><!--end:widget-->
    </div><!--end:main-content-->
    <div id="page-bottom" class="flx-divider">
        <header class="flx-divider">
          <div class="wrapper flx-line">
        </div>
  </header>
        <div class="wrapper flx-line">
            <div class="row-fluid">
                <div class="span12 clearfix">
                    <ul id="bottom-sidebar">
                        <li>
                            <aside class="widget widget_text">
                                <h2 class="widget-title">Despre noi</h2>
                                <div class="textwidget">
                                    <p>Suntem o companie care are ca obiect de munca proiectarea, producerea si comercializarea de utilaje reciclare pentru colectarea si compactarea deseurilor reciclabile. MBT isi desfasoara activitatea la nivel national oferindu-va o gama larga de utilaje pentru reciclare, precum: prescontainere, prese de balotat deseuri, tocatoare deseuri, prese stationare, statii de transfer deseuri, incarcatoare mobile.</p>
                                    <p>Prescontainerele MBT servesc la depozitarea, compactarea si transportul deseurilor, au o constructie intarita si se bucura de o capacitate de incarcare foarte mare. Cu un design estetic si ergonomic conforme cu toate normele de siguranta si igiena va putem oferi o gama larga de utilaje reciclare: prese de balotat deseuri-verticale, prese de balotat deseuri-orizontale, prese de balotat deseuri-automate, prescontainer Abroll, prescontainer Absetz, prese stationare, tocatoare plastic si alte echipamente specifice, adaptabile fiecarei cereri.</p>
                                </div><!--textwidget-->
                                <ul class="contact-info">
                                    <li class="green">
                                        <i class="icon-map-marker"></i><a class="contact-address" href="http://goo.gl/maps/5k7nR" target="_blank">Sighisoara, MS 54 54 00, Romania</a>
                                    </li>
                                    <li class="orange">
                                        <i class="icon-phone"></i><a class="contact-phone" href="callto:0040746255258">+(40)746 306 044</a>
                                    </li>
                                    <li class="blue">
                                        <i class="icon-envelope-alt"></i><a class="contact-email" href="mailto:utilajereciclare@mbt-romania.ro">utilajereciclare@mbt-romania.ro</a>
                                    </li>
                                </ul><!--end:contact-info-->
                            </aside><!--end:widget-->
                        </li>
                    </ul><!--end:bottom-sidebar-->
                </div><!--end:span12-->
            </div><!--end:row-fluid-->
        </div><!--end:wrapper-->
    </div><!--end:page-bottom-->
    <footer id="page-footer">
      <div class="wrapper">
          <div class="row-fluid">
              <div class="span12 clearfix">
                  <div class="copyright">
                      <p>Copyright © 2014 <a href="http://www.mbt-romania.ro">MBT Romania</a></p>
                        <span>Toate pozele si descrieriile precum si preturile afisate pe acest website au caracter informativ.</span>
                    </div><!--end:copyright-->
                    <div class="social-media-widget">
                      <div class="social-bookmarks">                    
                  <ul>
                              <li class="facebook"><a href="https://www.facebook.com/pages/MBT-Utilaje-pentru-reciclare/162205790613265" target="_blank">facebook</a></li>
                                <li class="twitter"><a href="https://twitter.com/MBTRomania" target="_blank">twitter</a></li>
                                <li class="googleplus"><a href="https://plus.google.com/107743334800615732041/posts" target="_blank">googleplus</a></li>
                  </ul>
              </div><!--end:social-bookmarks-->
          </div><!--end:social-media-widget-->
          <p id="back-top">
            <a href="#top"><i class="icon-chevron-up"></i></a>
          </p><!--end:back-top-->
                </div><!--end:span12-->
            </div><!--end:row-fluid-->
        </div><!--end:wrapper-->
    </footer><!--end:page-footer-->
{% endblock %}